<form class="search" action="{% url 'posts:posts_list' %}">
    <input type="search" placeholder="Szukaj" name="search">
    <button type="submit">Search</button>
</form>

<p><a href="{% url 'posts:add_post' %}">Dodaj nowy temat</a> </p>

{% for post in posts %}
    <p><<h4><a href="{% url 'posts:post_detail' post.id %}"> {{ post.name }}</a></h4> utworzony przez {{ post.author }}  </p>
    <p><a href="{% url 'posts:delete-post' post.id %}">Skasuj</a> </p>
{% endfor %}


    {% include 'posts/pagination.html' with page=posts %}





