{% if request.user.is_authenticated %}
    <p><strong>Witaj {{ request.user.email }}</strong> </p>
    <p><a href="{% url 'accounts:edit_user' %}">Edytuj profil</a>  <a href="{% url 'posts:user_posts' %}">Twoja aktywność</a> </p>
    <a href="{% url "accounts:logout" %}">Logout</a>
{% else %}
    <p><a href="{% url 'accounts:login' %}">Logowanie</a> <a href="{% url 'accounts:register' %}">Rejestracja</a> </p>
{% endif %}

<form class="search" action="{% url 'posts:posts_list' %}">
    <input type="search" placeholder="Szukaj" name="search">
    <button type="submit">Search</button>
</form>

{% if request.user.is_authenticated %}
    <p><a href="{% url 'posts:add_post' %}">Dodaj nowy temat</a> </p>
{% else %}
    <p>Aby założyć nowy temat musisz być zalogowany</p>
{% endif %}

{% for post in posts %}
    <p><<h4><a href="{% url 'posts:post_detail' post.id %}">
    {{ post.name }}</a></h4> utworzony przez {{ post.author }} </p>
    <a href="{{ post.get_absolute_url }}">
            <img src="{% if post.image %}{{ post.image.url }}"width='250px'>
                {% endif %}">
            </a>
    {% if request.user.is_authenticated %}
        {% if post.user == request.user %}
    <p><a href="{% url 'posts:delete-post' post.id %}">Skasuj</a> </p>
    {% endif %}
    {% endif %}
{% endfor %}


{% include 'posts/pagination.html' with page=posts %}





