<p>Utworzono: {{ post.created }}</p>
<p>Tytuł: {{ post.name }}</p>
<p>Treść: {{ post.text }}</p>

<ul>{% if post.image %}<img src="{{ post.image.url }}"width="250px"/>{% endif %}</ul>

<p>Polubienia: {{ post.vote }}</p>
{% if request.user.is_authenticated %}
    {% if post.user == request.user  %}
<p><a href="{% url 'posts:edit' post.id %}">Edytuj</a></p>
        {% endif %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="number" value="1" name="vote" hidden>
    <input type="submit" value="Polub post">
</form>
<form method="post">
    {% csrf_token %}
    <input type="number" value="-1" name="vote" hidden>
    <input type="submit" value="Nie lubię postu">
</form>

<p><strong>Dodaj komentzrz</strong></p>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj</button>
</form>

{% for comment in comments %}
    <p><strong>Autor</strong>:{{ comment.author }}</p>
    <p>Dodano:{{ comment.created }}</p>
    <p><strong>Treść:</strong></p>
    <p>{{ comment.text }}</p>

        {% if request.user.is_authenticated %}
            {% if comment.user == request.user  %}
                <p><a href="{% url 'posts:delete_comment' post.id comment.id %}">Skasuj</a> </p>
                <p><a href="{% url 'posts:comment_edit' comment.id %}">Edytuj komentarz</a> </p>
            {% endif %}
        {% endif %}
{% endfor %}

{% include 'posts/pagination.html' with page=comments %}
