<p>Utworzono: {{ post.created }}</p>
<p>Tytuł: {{ post.name }}</p>
<p>Treść: {{ post.text }}</p>

{% if request.user.is_authenticated %}
    {% if post.user == request.user  %}
<p><a href="{% url 'posts:edit' post.id %}">Edytuj</a></p>
        {% endif %}
{% endif %}


<p><strong>Dodaj komentzrz</strong></p>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj</button>
</form>

{% for comment in comments %}
    <p><strong>Autor</strong>:{{ comment.author }}</p>
    <p>Dodano:{{ comment.created }}</p>
    <p><strong>Treść:</strong></p>
    <p>{{ comment.text }}</p>
    {% if request.user.is_authenticated %}
    {% if comment.user == request.user  %}
    <p><a href="{% url 'posts:comment_edit' comment.id %}">Edytuj komentarz</a> </p>
            {% endif %}
{% endif %}
    {% endfor %}

{% include 'posts/pagination.html' with page=comments %}
